<div class="top-banner">
  <div class="container">
     <h2>Edit Account</h2>
  </div>
</div>
<!-- End Hero -->
<main id="main">
   <!-- tabs section -->
  <section>
     <div class="container text-center">
      
        <form class="text-center p-4" [formGroup]="editForm" (ngSubmit)="update()">
          <!-- <form class="text-center p-4" action="#!"> -->
             <img class="img-logo" src="assets/img/image-logo.png" alt="image-logo">
             <div class="form-group">
                <input type="text" autocomplete="off" name="username" id="username" autocomplete="off" tabindex="1" class="form-control" placeholder="Username" formControlName="username">
                
                <div *ngIf="submitted && f.username.errors" class="text-danger">
                 <div *ngIf="f.username.errors.required">Username is required</div>
               </div>
             </div>
             <div class="form-group">
              <input type="text" autocomplete="off" name="firstName" id="firstName" autocomplete="off" tabindex="1" class="form-control" placeholder="First name" formControlName="firstName">
              
              <div *ngIf="submitted && f.firstName.errors" class="text-danger">
               <div *ngIf="f.firstName.errors.required">First name is required</div>
             </div>
            </div>
            <div class="form-group">
              <input type="text" autocomplete="off" name="lastName" id="lastName" autocomplete="off" tabindex="1" class="form-control" placeholder="Last name" formControlName="lastName">
              
              <div *ngIf="submitted && f.lastName.errors" class="text-danger">
               <div *ngIf="f.lastName.errors.required">Last name is required</div>
             </div>
            </div>
             <div class="form-group">
                <input type="email" name="email" id="email" tabindex="1" class="form-control"  placeholder="Email Address" formControlName="email">
                <div *ngIf="submitted && f.email.errors" class="text-danger">
                 <div *ngIf="f.email.errors.required">Email is required</div>
                 <div *ngIf="f.email.errors.pattern"> Enter a valid email address</div>
               </div>
             </div>
             <div class="form-group">
                <textarea type="text" name="about" id="about" tabindex="10" class="form-control" autocomplete="off" maxlength="100" placeholder="About me" formControlName="about"></textarea>
                <div *ngIf="submitted && f.about.errors" class="text-danger">
                 <div *ngIf="f.about.errors.required">About is required</div>
                 <div *ngIf="f.about.errors.minlength">About must be at least 10 characters</div>
               </div>
             </div>
             <div class="form-group">
              <input type="file" id="file" name="profile" accept="image/*" (change)="handleFileInput($event.target.files)">
              <div *ngIf="submitted" class="text-danger">
                 <div *ngIf="(fileToUpload == null || fileToUpload=='')"> File is required.</div>
               </div>
             </div>

             <!-- <input type="hidden" name="profilePic" id="profilePic" formControlName="profilePic"> -->

             <div class="form-group">
                <div class="row">
                   <div class="col-sm-2">
                      <input type="submit" name="update" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Update Profile">
                   </div>
                </div>
             </div>
          </form>
     </div>
  </section>
</main>
<!-- End #main -->