 <!-- joinus modal -->
      <!-- The Modal -->
      <div class="login-popup" id="signup-click"> <!-- issue with class modal login-popup -->
        <div class="modal-dialog">
           <div class="modal-content">
              <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal" (click)="activeModal.dismiss('Cross click')">&times;</button>
              </div>
              <div class="modal-body">
               <form class="text-center p-4" [formGroup]="signUpForm" (ngSubmit)="signup()">
                 <!-- <form class="text-center p-4" action="#!"> -->
                    <h2 class="h4 mb-4">Signup <span>Grumpeat!</span></h2>
                    <img class="img-logo" src="assets/img/image-logo.png" alt="image-logo">
                    <div class="form-group">
                       <input type="text" autocomplete="off" name="username" id="username" autocomplete="off" tabindex="1" class="form-control" placeholder="Username" formControlName="username">
                       
                       <div *ngIf="submitted && f.username.errors" class="text-danger">
                        <div *ngIf="f.username.errors.required">Username is required</div>
                      </div>
                    </div>
                    <div class="form-group">
                     <input type="text" autocomplete="off" name="firstname" id="firstname" autocomplete="off" tabindex="1" class="form-control" placeholder="First name" formControlName="firstname">
                     
                     <div *ngIf="submitted && f.firstname.errors" class="text-danger">
                      <div *ngIf="f.firstname.errors.required">First name is required</div>
                    </div>
                   </div>
                   <div class="form-group">
                     <input type="text" autocomplete="off" name="lastname" id="lastname" autocomplete="off" tabindex="1" class="form-control" placeholder="Last name" formControlName="lastname">
                     
                     <div *ngIf="submitted && f.lastname.errors" class="text-danger">
                      <div *ngIf="f.lastname.errors.required">Last name is required</div>
                    </div>
                   </div>
                    <div class="form-group">
                       <input type="email" name="email" id="email" tabindex="1" class="form-control"  placeholder="Email Address" formControlName="email">
                       <div *ngIf="submitted && f.email.errors" class="text-danger">
                        <div *ngIf="f.email.errors.required">Email is required</div>
                        <div *ngIf="f.email.errors.pattern"> Enter a valid email address</div>
                      </div>
                    </div>
                    <div class="form-group">
                       <input type="password" name="password" id="password" tabindex="2" class="form-control" autocomplete="off" placeholder="Password" formControlName="password">
                       <div *ngIf="submitted && f.password.errors" class="text-danger">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                        <div *ngIf="f.password.errors.minlength">Password must be at least 4
                          characters</div>
                      </div>
                    </div>
                    <!-- <div class="form-group">
                     <input type="file" id="file" accept="image/*" (change)="handleFileInput($event.target.files)">
                     <div *ngIf="submitted" class="text-danger">
                        <div *ngIf="(fileToUpload == null || fileToUpload=='')"> File is required.</div>
                      </div>
                    </div> -->
                    <div class="form-group">
                       <div class="row">
                          <div class="col-sm-12">
                             <input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Register Now">
                          </div>
                       </div>
                    </div>
                 </form>
              </div>
           </div>
        </div>
     </div>
     <!-- joinus modal closed here -->
