  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex justify-content-center align-items-center">
    <div class="container position-relative">
       <h1>Find Top Restaurants </h1>
       <h2>Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Nulla 
          porttitor accumsan tincidunt. Curabitur aliquet quam id dui posuere blandit. 
          Curabitur arcu erat, accumsan id imperdiet et, porttitor ...
       </h2>
       <a (click)="openLogin()" *ngIf="SeeAll"class="btn-get-started">Call to Action</a>
       <a routerLink="/neighbourhood-restaurants" *ngIf="!SeeAll"class="btn-get-started">Call to Action</a>
    </div>
 </section>
 <!-- End Hero -->
 <main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
       <div class="container" data-aos="fade-up">
          <div class="section-title">
             <h2>About</h2>
             <p>About Us</p>
          </div>
          <div class="row">
             <div class="col-lg-6 order-1 order-lg-2 text-right">
                <img src="assets/img/about-image.jpg" class="img-fluid" alt="">
             </div>
             <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                <h3>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h3>
                <p class="font-italic">
                   Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                   magna aliqua.
                </p>
                <ul>
                   <li><i class="icofont-check-circled"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                   <li><i class="icofont-check-circled"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                   <li><i class="icofont-check-circled"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
                </ul>
                <p>
                   Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                </p>
                <a routerLink="/about-us" class="learn-more-btn">Learn More</a>
             </div>
          </div>
       </div>
    </section>
    <!-- End About Section -->
    <!-- ======= Trainers Section ======= -->
    <section id="best-restaurant" class="best-restaurant">
       <div class="container">
          <div class="section-title text-center">
             <h2>Restaurants</h2>
             <p>Best Restaurants in <span id="country">{{locCountryName}}</span></p>
          </div>
          <div class="see-div">
             <div class="see-all text-center">
                <a (click)="openLogin()" *ngIf="SeeAll">See All</a>
                <a routerLink="/neighbourhood-restaurants" *ngIf="!SeeAll">See All</a>
             </div>
          </div>
          <div class="row">
             <div class="col-lg-4 col-md-6 d-flex align-items-stretch" *ngFor="let restaur of restaurants; let i = index">
                <div class="restaurant-info" *ngIf="i <= 2">
                   <img src="{{restaur.picToShow}}" class="img-fluid" alt="">
                   <div class="restaurant-content">
                      <div class="d-flex justify-content-between align-items-center mb-3">
                         <h4 [innerHTML]="restaur.name.substr( 0, 21 )">{{restaur.name}}</h4>
                         <p class="price">2 Miles Away</p>
                      </div>
                      <div class="icon"><span>{{ restaur.rating || '0' }} </span>
                        <div class="stars-outer">
                        <div class="stars-inner" [ngStyle]="{'width': restaur.starPercentageRounded}"></div>
                         </div>
                        <span>({{restaur.reviewcount}})</span>
                     </div>
                      <p>{{restaur.formatted_address}}</p>
                      <div class="trainer d-flex justify-content-between align-items-center">
                         <div class="trainer-profile d-flex align-items-center">
                            <!-- <img src="assets/img/trainers/trainer-1.jpg" class="img-fluid" alt=""> -->
                            <div class="social">
                               <a class="fb" href="facebook.com"><i class="icofont-facebook"></i></a>
                               <a class="in" href="linkedin.com"><i class="icofont-linkedin"></i></a>
                            </div>
                         </div>
                         <div class="trainer-rank d-flex align-items-center">
                            <a class="to-go" [routerLink]="['/favorite-restaurants/',restaur.place_id]"><i class="icofont-long-arrow-right"></i></a>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
            
          </div>
       </div>
    </section>
    <!-- End Trainers Section -->
    <!-- tabs section -->
    <!-- ======= Trainers Section ======= -->
    <section id="view-b-country" class="view-b-country">
       <div class="container">
          <div class="section-title text-center">
             <h2>Restaurants</h2>
             <p>View By Country</p>
          </div>
          <tabset  #tabset>
            <tab
              tab1
              heading="United State (US)"
              id="US"
              #US
              [disabled]="disableSwitching"
              >
              <div class="tab-content tab-pane " id="US">
               <div class="table-scroll">
                  <table class="table">
                     <thead>
                        <tr>
                           <th>ALABAMA</th>
                           <th>ILLINOIS</th>
                           <th>MONTANA</th>
                           <th>ALASKA</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr>
                           <td><a href="neighbourhood-restaurants.html">Auburn</a></td>
                           <td><a href="neighbourhood-restaurants.html">Bloomington-Normal</a></td>
                           <td><a href="neighbourhood-restaurants.html">Billings</a></td>
                           <td><a href="neighbourhood-restaurants.html">Anchorage / Mat-Su</a></td>
                        </tr>
                        <tr>
                           <td><a href="neighbourhood-restaurants.html">Birmingham</a></td>
                           <td><a href="neighbourhood-restaurants.html">Champaign Urbana</a></td>
                           <td><a href="neighbourhood-restaurants.html">Bozeman</a></td>
                           <td><a href="neighbourhood-restaurants.html">Fairbanks</a></td>
                        </tr>
                        <tr>
                           <td><a href="neighbourhood-restaurants.html">Dothan</a></td>
                           <td><a href="neighbourhood-restaurants.html">Chicago</a></td>
                           <td><a href="neighbourhood-restaurants.html">Butte</a></td>
                           <td><a href="neighbourhood-restaurants.html">Kenai Peninsula</a></td>
                        </tr>
                        <tr>
                           <td><a href="neighbourhood-restaurants.html">Florence / Muscle Shoals</a></td>
                           <td><a href="neighbourhood-restaurants.html">Decatur</a></td>
                           <td><a href="neighbourhood-restaurants.html">Great Falls</a></td>
                           <td><a href="neighbourhood-restaurants.html">Southeast Alaska</a></td>
                        </tr>
                        <tr>
                           <td><a href="neighbourhood-restaurants.html">Gadsden-Anniston</a></td>
                           <td><a href="neighbourhood-restaurants.html">La Salle Co</a></td>
                           <td><a href="neighbourhood-restaurants.html">Helena</a></td>
                           <td><a href="neighbourhood-restaurants.html"></a></td>
                        </tr>
                        <tr>
                           <th>INDIANA</th>
                           <th>NEBRASKA</th>
                           <th>SOUTH DAKOTA</th>
                           <th>ARIZONA</th>
                        </tr>
                     <tbody>
                        <tr>
                           <td><a href="neighbourhood-restaurants.html">Bloomington</a></td>
                           <td><a href="neighbourhood-restaurants.html">Grand Island</a></td>
                           <td><a href="neighbourhood-restaurants.html">Northeast SD</a></td>
                           <td><a href="neighbourhood-restaurants.html">Flagstaff / Sedona</a></td>
                        </tr>
                        <tr>
                           <td><a href="neighbourhood-restaurants.html">Evansville</a></td>
                           <td><a href="neighbourhood-restaurants.html">Lincoln</a></td>
                           <td><a href="neighbourhood-restaurants.html">Pierre / Central SD</a></td>
                           <td><a href="neighbourhood-restaurants.html">Mohave County</a></td>
                        </tr>
                        <tr>
                           <td><a href="neighbourhood-restaurants.html">Fort Wayne</a></td>
                           <td><a href="neighbourhood-restaurants.html">North Platte</a></td>
                           <td><a href="neighbourhood-restaurants.html">Rapid City / West SD</a></td>
                           <td><a href="neighbourhood-restaurants.html">Phoenix</a></td>
                        </tr>
                        <tr>
                           <td><a href="neighbourhood-restaurants.html">Indianapolis</a></td>
                           <td><a href="neighbourhood-restaurants.html">Omaha / Council Bluffs</a></td>
                           <td><a href="neighbourhood-restaurants.html">Sioux Falls / SE SD</a></td>
                           <td><a href="neighbourhood-restaurants.html">Prescott</a></td>
                        </tr>
                        <tr>
                           <td><a href="neighbourhood-restaurants.html">Kokomo</a></td>
                           <td><a href="neighbourhood-restaurants.html">Scottsbluff / Panhandle</a></td>
                           <td><a href="neighbourhood-restaurants.html">South Dakota</a></td>
                           <td><a href="neighbourhood-restaurants.html">Show Low</a></td>
                        </tr>
                     </tbody>
                  </table>
               </div>
              </div>
            </tab>
          
            <tab
              tab2
              heading="Canada"
              id="Canada"
              select="!disableSwitching && Canada.active = true"
              #Canada
              [disabled]="disableSwitching"
              >
              <div class="tab-content tab-pane" id="Canada">
               <div class="table-scroll">
                  <table class="table">
                     <thead>
                        <tr>
                           <th>ALABAMA</th>
                           <th>ILLINOIS</th>
                           <th>MONTANA</th>
                           <th>ALASKA</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr>
                           <td><a href="neighbourhood-restaurants.html">Auburn</a></td>
                           <td><a href="neighbourhood-restaurants.html">Bloomington-Normal</a></td>
                           <td><a href="neighbourhood-restaurants.html">Billings</a></td>
                           <td><a href="neighbourhood-restaurants.html">Anchorage / Mat-Su</a></td>
                        </tr>
                        <tr>
                           <td><a href="neighbourhood-restaurants.html">Birmingham</a></td>
                           <td><a href="neighbourhood-restaurants.html">Champaign Urbana</a></td>
                           <td><a href="neighbourhood-restaurants.html">Bozeman</a></td>
                           <td><a href="neighbourhood-restaurants.html">Fairbanks</a></td>
                        </tr>
                        <tr>
                           <td><a href="neighbourhood-restaurants.html">Dothan</a></td>
                           <td><a href="neighbourhood-restaurants.html">Chicago</a></td>
                           <td><a href="neighbourhood-restaurants.html">Butte</a></td>
                           <td><a href="neighbourhood-restaurants.html">Kenai Peninsula</a></td>
                        </tr>
                        <tr>
                           <td><a href="neighbourhood-restaurants.html">Florence / Muscle Shoals</a></td>
                           <td><a href="neighbourhood-restaurants.html">Decatur</a></td>
                           <td><a href="neighbourhood-restaurants.html">Great Falls</a></td>
                           <td><a href="neighbourhood-restaurants.html">Southeast Alaska</a></td>
                        </tr>
                        <tr>
                           <td><a href="neighbourhood-restaurants.html">Gadsden-Anniston</a></td>
                           <td><a href="neighbourhood-restaurants.html">La Salle Co</a></td>
                           <td><a href="neighbourhood-restaurants.html">Helena</a></td>
                           <td><a href="neighbourhood-restaurants.html"></a></td>
                        </tr>
                     </tbody>
                  </table>
               </div>
              </div>
            </tab>
          </tabset>

      </div>
    </section>
    <!-- tabs section end -->
    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
       <div class="container" data-aos="fade-up">
          <div class="section-title text-center">
             <h2>Testimonials</h2>
             <p>What Our Users Say</p>
          </div>
          <owl-carousel class="testimonials-carousel" [options]="{items: 2, dots: true, loop: true, navigation: true, autoplay:true}" [carouselClasses]="['owl-theme', 'row', 'sliding']">
            <div class="testimonial-wrap">
               <div class="testimonial-item">
                  <img src="assets/img/testimonials-1.png" class="testimonial-img" alt="">
                  <h3>Saul Goodman</h3>
                  <h4>Ceo &amp; Founder</h4>
                  <p>
                     <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                     Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                     <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
               </div>
            </div>
            <div class="testimonial-wrap">
               <div class="testimonial-item">
                  <img src="assets/img/testimonials-2.png" class="testimonial-img" alt="">
                  <h3>Sara Wilsson</h3>
                  <h4>Designer</h4>
                  <p>
                     <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                     Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                     <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
               </div>
            </div>
            <div class="testimonial-wrap">
               <div class="testimonial-item">
                  <img src="assets/img/testimonials-3.png" class="testimonial-img" alt="">
                  <h3>Jena Karlis</h3>
                  <h4>Store Owner</h4>
                  <p>
                     <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                     Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                     <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
               </div>
            </div>
            <div class="testimonial-wrap">
               <div class="testimonial-item">
                  <img src="assets/img/testimonials-4.png" class="testimonial-img" alt="">
                  <h3>Matt Brandon</h3>
                  <h4>Freelancer</h4>
                  <p>
                     <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                     Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                     <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
               </div>
            </div>
            <div class="testimonial-wrap">
               <div class="testimonial-item">
                  <img src="assets/img/testimonials-5.png" class="testimonial-img" alt="">
                  <h3>John Larson</h3>
                  <h4>Entrepreneur</h4>
                  <p>
                     <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                     Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                     <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
               </div>
            </div>
          </owl-carousel>
       </div>
    </section>
    <!-- End Testimonials Section -->
    <!-- ======= About Section ======= -->
    <section id="app-downloads" class="app-downloads">
       <div class="container">
          <div class="row">
             <div class="col-lg-6 order-1 order-lg-2 text-right">
                <img src="assets/img/grumpeat-img.png" class="img-fluid" alt="">
             </div>
             <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                <div class="section-title">
                   <h2>Download the App</h2>
                   <p>GRUMPEAT</p>
                </div>
                <p class="font-italic">
                   Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                   magna aliqua.
                </p>
                <p>
                   Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                </p>
                <a href="https://apps.apple.com/us/app/grumpeat/id1470636316" class="app-store-btn"><img src="assets/img/app-store-btn.png"></a>
             </div>
          </div>
       </div>
    </section>
    <!-- End About Section -->
 </main>
 <!-- End #main -->