<div class="top-banner">
   <div class="container">
      <h2>Change Password</h2>
   </div>
</div>
<!-- End Hero -->
<main id="main">
   <!-- tabs section -->
   <section>
      <div class="container">
         <div class="row">
            <div class="col-lg-6 order-1">
               <form autocomplete="off" class="form" role="form" [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
                  <div class="form-group">
                     <label for="inputPasswordOld">Current Password</label> 
                     <!-- <input class="form-control" id="inputPasswordOld" required="" type="oldpassword"> -->
                     <div class="form-group">
                        <input type="password" name="currentpassword" id="currentpassword" tabindex="2" class="form-control" autocomplete="off" placeholder="Current password" formControlName="currentpassword">
                        <div *ngIf="submitted && f.currentpassword.errors" class="text-danger">
                         <div *ngIf="f.currentpassword.errors.required">Current password is required</div>
                         <div *ngIf="f.currentpassword.errors.minlength">Old password must be at least 4 characters</div>
                       </div>
                     </div>
                  </div>
                  <div class="form-group">
                     <label for="inputPasswordNew">New Password</label> 
                     <!-- <input class="form-control" id="inputPasswordNew" required="" type="password">  -->
                     <div class="form-group">
                        <input type="password" name="password" id="password" tabindex="2" class="form-control" autocomplete="off" placeholder="New password" formControlName="password">
                        <div *ngIf="submitted && f.password.errors" class="text-danger">
                         <div *ngIf="f.password.errors.required">New password is required</div>
                         <div *ngIf="f.password.errors.minlength">New password must be at least 4 characters</div>
                       </div>
                     </div>
                     <small class="form-text text-muted" id="passwordHelpBlock">Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.</small>
                  </div>
                  <div class="form-group">
                     <label for="inputPasswordNewVerify">Verify</label> 
                     <!-- <input class="form-control" id="inputPasswordNewVerify" required="" type="password">  -->
                     <div class="form-group">
                        <input type="password" name="verifypassword" id="verifypassword" tabindex="2" class="form-control" autocomplete="off" placeholder="Verify password" formControlName="verifypassword">
                        <div *ngIf="submitted && f.verifypassword.errors" class="text-danger">
                         <div *ngIf="f.verifypassword.errors.required">Verify password is required</div>
                         <div *ngIf="f.verifypassword.errors.minlength">Verify password must be at least 4 characters</div>
                       </div>
                     </div>
                     <span class="form-text small text-muted">To confirm, type the new password again.</span>
                  </div>
                  <div class="form-group">
                     <button class="btn btn-success btn-lg btn-style " type="submit">Save</button>
                  </div>
               </form>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 text-right">
               <img src="assets/img/change-password-img.jpg" alt="change-password-img">
            </div>
         </div>
      </div>
   </section>
</main>
<!-- End #main -->