/**
* Template Name: Mentor - v2.0.0
* Template URL: https://bootstrapmade.com/mentor-free-education-bootstrap-theme/
* Author: BootstrapMade.com
* License: https://bootstrapmade.com/license/
*/

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #CF1D3D;
}

a:hover {
  color: #535353;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
}

.back-to-top i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background: #CF1D3D;
  color: #fff;
  transition: all 0.4s;
}

.back-to-top i:hover {
  background: #0A0D09;
  color: #fff;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: #0A0D09;
  transition: all 0.5s;
  z-index: 997;
  padding: 16px 0;
  box-shadow: 0px 0 18px rgba(55, 66, 59, 0.08);
}
.account-button .dropdown-menu a:hover {
    background-color: #cf1d3d;
    color: #fff;
}
#header .logo {
  font-size: 32px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

#header .logo a {
  color: #CF1D3D;
}
.table-scroll {
    overflow-x: auto;
    overflow-y: hidden;
}
#header .logo img {
    max-height: 160px;
    position: absolute;
    top: -60px;
}
#hero h2 {
    font-size: 17px;
    line-height: 36px;
}
#footer .footer-top .footer-links ul li.active a {
    color: #cf1d3d;
}
.footer-col-lf ul li a {
    color: #a7a6a6;
}
.footer-col-lf ul li {
    display: inline-block;
}
.footer-col-lf ul li a:hover {
    color: #cf1d3d;
}

footer#footer .container {
    padding: 15px 0px 0px 0px!important;
}
.btn-style {
    background: #CF1D3D;
    color: #fff;
    border-radius: 50px;
    padding: 8px 25px 9px 25px;
    white-space: nowrap;
    transition: 0.3s;
    font-size: 14px;
    display: inline-block;
        padding-left: 42px;
    position: relative;
    border: none;
}
.search-restaurants h2 {
    text-transform: uppercase;
    font-weight: bold;
    color: #cf1d3d;
}
.search-restaurants button {
    width: 100%;
}
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul {
  display: flex;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  margin: 10px 0 10px 34px;
}

.nav-menu a {
  display: block;
  position: relative;
  color: #FFFFFF;
  transition: 0.3s;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  color: #CF1D3D;
}

.nav-menu .drop-down ul {
  display: block;
  position: absolute;
  left: 24px;
  top: calc(100% + 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}

.nav-menu .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
}

.nav-menu .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #37423b;
}

.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
  color: #CF1D3D;
}

.nav-menu .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.nav-menu .drop-down .drop-down > a {
  padding-right: 35px;
}

.nav-menu .drop-down .drop-down > a:after {
  content: "\eaa0";
  font-family: IcoFont;
  position: absolute;
  right: 15px;
}
.detailed-neighbourhood ul li a:hover,
.detailed-neighbourhood p a:hover {
    color: #cf1d3d;
}
.detailed-neighbourhood ul li a {
    color: #343434;
}
.detailed-neighbourhood p a {
    color: #343434;
}

@media (max-width: 1366px) {
  .nav-menu .drop-down .drop-down ul {
    left: -90%;
  }
  .nav-menu .drop-down .drop-down:hover > ul {
    left: -100%;
  }
  .nav-menu .drop-down .drop-down > a:after {
    content: "\ea9d";
  }
}

/* Get Startet Button */
.get-started-btn {
    margin-left: 22px;
    background: #CF1D3D;
    color: #fff;
    border-radius: 50px;
    padding: 8px 25px;
    white-space: nowrap;
    transition: 0.3s;
    font-size: 14px;
    display: inline-block;
    border: 2px solid transparent;
}

.get-started-btn:hover {
  background: #0A0D09;
  border: 2px solid #CF1D3D;
  color: #fff;
}

@media (max-width: 768px) {
  .get-started-btn {
    margin: 0 48px 0 0;
    padding: 6px 18px;
  }
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  top: 17px;
  right: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
    color: #ffffff;
}
.mobile-nav {
  position: fixed;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: #fff;
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  padding: 10px 0;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #37423b;
  padding: 10px 20px;
  font-weight: 500;
  outline: none;
}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
  color: #CF1D3D;
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\eaa1";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(32, 38, 34, 0.6);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 80vh;
  background: url("../img/hero-bg.jpg") top center;
  background-size: cover;
  position: relative;
}
/*
#hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
*/
#hero .container {
  padding-top: 72px;
}

@media (max-width: 992px) {
  #hero .container {
    padding-top: 62px;
  }
}

#hero h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

#hero h2 {
  color: #eee;
  margin: 10px 0 0 0;
}

#hero .btn-get-started {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 17px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 15px 25px;
    border-radius: 50px;
    transition: 0.5s;
    margin-top: 30px;
    color: #fff;
    background-color: #CF1D3D;
    border: 2px solid transparent;
}
#hero .btn-get-started:hover {
    background-color: #000;
    border: 2px solid #CF1D3D;
}
.search-restaurants > .container {
    margin-top: -150px;
    background-color: #fff;
    position: relative;
    padding: 30px;
    border-radius: 10px 10px 0px 0px;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #hero {
    height: 100vh;
  }
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
}

.section-bg {
  background-color: #f6f7f6;
}

.section-title {
  padding-bottom: 40px;
}

.section-title h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 5px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #aaaaaa;
  font-family: "Poppins", sans-serif;
}

.section-title h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: #cf1d3d;
  margin: 4px 10px;
}

.section-title p {
  margin: 0;
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #cf1d3d;
}
.restaurant-content p.price {
    font-size: 14px;
}
.top-banner {
  margin-top: 72px;
  text-align: center;
  background-image: url('../img/bg-inner.jpg');
  padding: 50px 0;
  color: #fff;
  position: relative;
}
.top-banner .container {
    position: relative;
}
.top-banner:before {
    position: absolute;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.23);
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
}
.see-all {
    position: absolute;
    top: -40px;
    right: 0%;
}

.restaurant-content h4, .restaurant-content p {
    margin-top: 15px;
    margin-bottom: 0px;
}
.trainer-rank i {
    font-size: 30px;
}
.trainer-rank {
  -webkit-animation: rightarrow 0.5s infinite alternate ease-in-out;
}

@-webkit-keyframes rightarrow {
  0% { -webkit-transform: translateY(0); opacity: 0.8 }
  100% { -webkit-transform: translateY(0.3em); opacity: 0.9 }
}
.social a i {
  color: #ffffff;
}
.social a {
    background-color: #00D4FF;
    padding: 5px 10px;
    display: inline-block;
}
a.fb {
    background-color: #0C4EB3;
    margin-right: 10px;
}
.see-div  {
  position: relative;
}
.social a:hover {
    background-color: #1b1b1b;
}
.restaurant-content .icon a i {
    color: #FCB44D;
}
.restaurant-info > img {
    max-width: 100%;
    width: 100%;
}
tabset.nav.nav-tabs {
  background-color: #f3f3f3;
  border: 1px solid #dee2e6;
}

ul.nav.nav-tabs {
    background-color: #f3f3f3;
    border: 1px solid #dee2e6;
}
.nav-tabs .nav-link.active {
    border: none;
}
ul.nav.nav-tabs {
    background-color: #f3f3f3;
    border: none;
}
tabset.nav.nav-tabs {
  background-color: #f3f3f3;
  border: none;
}
#view-b-country .nav li:last-child {
    border-left: 0px solid #e4e4e4;
}
#view-b-country .nav li {
    border-top: 1px solid #e4e4e4;
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
    margin-bottom: 0;
    border-color: #e9ecef #e9ecef #dee2e6;
}
#view-b-country .nav li a {
    color: #343434;
    padding: 15px 50px;
    border:none;
}
#view-b-country th {
    color: #61595B;
    font-size: 14px;
    padding-top: 40px ;
}
#view-b-country td a{
    color: #707070;
    font-size: 14px;
}
#view-b-country td a:hover {
  color: red;
}
.view-b-country .table {
    border-right: 1px solid #f1f1f1;
    border-left: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
        margin-bottom: 0 !important;
}
.view-b-country .table tr, .view-b-country .table th, .view-b-country .table td {
    border: none;
}
.view-b-country .table tr, .view-b-country .table th, .view-b-country .table td {
    border: none;
    padding: 13px 20px;
}
.gap-follow {
    margin-top: 50px;
}
@media (min-width: 1140px) {
.see-div {
    max-width: 1140px;
}
}
@media (max-width: 992px) {
.see-div {
    max-width: 960px;
    position: relative;
}
}
@media (max-width: 992px) {
.top-banner {
    margin-top: 54px;
}
  .restaurant-info {
    background-color: #ffffff;
    padding: 5px;
    margin-bottom: 30px;
}
}
.restaurant-info {
    background-color: #ffffff;
    padding: 5px;
}
.top-banner h2 {
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
}
.top-banner p {
  font-size: 14px;
  margin-bottom: 0;
}
.best-restaurant {
    background-image: url(../img/bg-image-rest.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.see-all a {
    color: #fff;
    text-decoration: underline;
}
.restaurant-content {
    padding: 10px;
}
.trainer {
    padding-top: 20px;
}
.best-restaurant .section-title h2, .best-restaurant .section-title p {
    color: #fff;
}
.best-restaurant .section-title p span {
    display: block;
    color: #cf1d3d;
}
a.to-go {
    color: #333;
}
a.app-store-btn {
    margin-top: 20px;
    display: inline-block;
}
a.app-store-btn img {
  transition: all ease 0.5s;
}
a.app-store-btn:hover img {
    transform: scale(1.1);
}
.app-downloads .order-lg-1 {
    margin-top: 60px;
}
.footer-top h4 {
    text-transform: uppercase;
}
.follow-us a {
    border-radius: 100%;
    height: 40px;
    width: 40px;
    padding: 5px;
    text-align: center;
    margin-right: 5px;
    font-size: 20px;
    background-color: #4a4a4a;
}
.follow-us a:hover {
     background-color: #cf1d3d; 
}
/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content h3 {
  font-weight: 600;
  font-size: 26px;
}
section#about img {
    border-radius: 5px;
}
.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding-bottom: 10px;
}

.about .content ul i {
  font-size: 20px;
  padding-right: 4px;
  color: #CF1D3D;
}

.about .content .learn-more-btn {
  background: #CF1D3D;
  color: #fff;
  border-radius: 50px;
  padding: 8px 25px 9px 25px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 14px;
  display: inline-block;
}

.about .content .learn-more-btn:hover {
  background: #0A0D09;
  color: #fff;
}

@media (max-width: 768px) {
  .about .content .learn-more-btn {
    margin: 0 48px 0 0;
    padding: 6px 18px;
  }
}

/*--------------------------------------------------------------
# Courses
--------------------------------------------------------------*/
.courses .course-item {
  border-radius: 5px;
  border: 1px solid #eef0ef;
}

.courses .course-content {
  padding: 15px;
}

.courses .course-content h3 {
  font-weight: 700;
  font-size: 20px;
}

.courses .course-content h3 a {
  color: #37423b;
  transition: 0.3s;
}

.courses .course-content h3 a:hover {
  color: #CF1D3D;
}

.courses .course-content p {
  font-size: 14px;
  color: #777777;
}

.courses .course-content h4 {
  font-size: 14px;
  background: #CF1D3D;
  padding: 7px 14px;
  color: #fff;
  margin: 0;
}

.courses .course-content .price {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  color: #37423b;
}

.courses .trainer {
  padding-top: 15px;
  border-top: 1px solid #eef0ef;
}

.courses .trainer .trainer-profile img {
  max-width: 50px;
  border-radius: 50px;
}

.courses .trainer .trainer-profile span {
  padding-left: 10px;
  font-weight: 600;
  font-size: 16px;
  color: #5a6c60;
}

.courses .trainer .trainer-rank {
  font-size: 18px;
  color: #657a6d;
}


/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials .testimonial-wrap {
  padding-left: 50px;
}
.testimonials {
    background-color: #F8F8F8;
}
.testimonials .testimonial-item {
  box-sizing: content-box;
  padding: 30px 30px 30px 60px;
  margin: 30px 15px;
  min-height: 200px;
  border: 1px solid #eef0ef;
  position: relative;
  background: #fff;
}

.testimonials .testimonial-item .testimonial-img {
  width: 90px;
  border-radius: 100%;
  border: 6px solid #fff;
  position: absolute;
  left: -45px;
}

.testimonials .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
}

.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0;
}

.testimonials .testimonial-item .quote-icon-left, .testimonials .testimonial-item .quote-icon-right {
  color: #c1ecce;
  font-size: 26px;
}

.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}

.testimonials .testimonial-item p {
  font-style: italic;
  margin: 15px auto 15px auto;
}

.testimonials .owl-nav, .testimonials .owl-dots {
  margin-top: 5px;
  text-align: center;
}

.testimonials .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd !important;
  outline: none;
}

.testimonials .owl-dot.active {
  background-color: #CF1D3D !important;
}

@media (max-width: 767px) {
  .testimonials .testimonial-wrap {
    padding-left: 0;
  }
  .testimonials .testimonial-item {
    padding: 30px;
    margin: 15px;
  }
  .testimonials .testimonial-item .testimonial-img {
    position: static;
    left: auto;
  }
}

/*--------------------------------------------------------------
# Cource Details
--------------------------------------------------------------*/
.course-details h3 {
  font-size: 24px;
  margin: 30px 0 15px 0;
  font-weight: 700;
  position: relative;
  padding-bottom: 10px;
}

.course-details h3:before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  background: #eef0ef;
  bottom: 0;
  left: 0;
}

.course-details h3:after {
  content: '';
  position: absolute;
  display: block;
  width: 60px;
  height: 1px;
  background: #CF1D3D;
  bottom: 0;
  left: 0;
}

.course-details .course-info {
  background: #f6f7f6;
  padding: 10px 15px;
  margin-bottom: 15px;
}

.course-details .course-info h5 {
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.course-details .course-info p {
  margin: 0;
  font-weight: 600;
}

.course-details .course-info a {
  color: #657a6d;
}

/*--------------------------------------------------------------
# Cource Details Tabs
--------------------------------------------------------------*/
.cource-details-tabs {
  overflow: hidden;
  padding-top: 0;
}

.cource-details-tabs .nav-tabs {
  border: 0;
}

.cource-details-tabs .nav-link {
  border: 0;
  padding: 12px 15px 12px 0;
  transition: 0.3s;
  color: #37423b;
  border-radius: 0;
  border-right: 2px solid #e2e7e4;
  font-weight: 600;
  font-size: 15px;
}

.cource-details-tabs .nav-link:hover {
  color: #CF1D3D;
}

.cource-details-tabs .nav-link.active {
  color: #CF1D3D;
  border-color: #CF1D3D;
}

.cource-details-tabs .tab-pane.active {
  -webkit-animation: fadeIn 0.5s ease-out;
  animation: fadeIn 0.5s ease-out;
}

.cource-details-tabs .details h3 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #37423b;
}

.cource-details-tabs .details p {
  color: #777777;
}

.cource-details-tabs .details p:last-child {
  margin-bottom: 0;
}

@media (max-width: 992px) {
  .cource-details-tabs .nav-link {
    border: 0;
    padding: 15px;
  }
  .cource-details-tabs .nav-link.active {
    color: #fff;
    background: #CF1D3D;
  }
}

/*--------------------------------------------------------------
# Events
--------------------------------------------------------------*/
.events .card {
  border: 0;
  padding: 0 30px;
  margin-bottom: 60px;
  position: relative;
}

.events .card-img {
  width: calc(100% + 60px);
  margin-left: -30px;
  overflow: hidden;
  z-index: 9;
  border-radius: 0;
}

.events .card-img img {
  max-width: 100%;
  transition: all 0.3s ease-in-out;
}

.events .card-body {
  z-index: 10;
  background: #fff;
  border-top: 4px solid #fff;
  padding: 30px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  margin-top: -60px;
  transition: 0.3s;
}

.events .card-title {
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}

.events .card-title a {
  color: #37423b;
  transition: 0.3s;
}

.events .card-text {
  color: #5e5e5e;
}

.events .read-more a {
  color: #777777;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  transition: 0.3s;
}

.events .read-more a:hover {
  color: #CF1D3D;
}

.events .card:hover img {
  transform: scale(1.1);
}

.events .card:hover .card-body {
  border-color: #CF1D3D;
}

.events .card:hover .card-body .card-title a {
  color: #CF1D3D;
}

/*--------------------------------------------------------------
# Pricing
--------------------------------------------------------------*/
.pricing .box {
  padding: 20px;
  background: #fff;
  text-align: center;
  border: 1px solid #eef0ef;
  border-radius: 0;
  position: relative;
  overflow: hidden;
}

.pricing h3 {
  font-weight: 400;
  margin: -20px -20px 20px -20px;
  padding: 20px 15px;
  font-size: 16px;
  font-weight: 600;
  color: #777777;
  background: #f8f8f8;
}

.pricing h4 {
  font-size: 36px;
  color: #CF1D3D;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}

.pricing h4 sup {
  font-size: 20px;
  top: -15px;
  left: -3px;
}

.pricing h4 span {
  color: #bababa;
  font-size: 16px;
  font-weight: 300;
}

.pricing ul {
  padding: 0;
  list-style: none;
  color: #444444;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
}

.pricing ul li {
  padding-bottom: 16px;
}

.pricing ul i {
  color: #CF1D3D;
  font-size: 18px;
  padding-right: 4px;
}

.pricing ul .na {
  color: #ccc;
  text-decoration: line-through;
}

.pricing .btn-wrap {
  margin: 20px -20px -20px -20px;
  padding: 20px 15px;
  background: #f8f8f8;
  text-align: center;
}

.pricing .btn-buy {
  background: #CF1D3D;
  display: inline-block;
  padding: 8px 35px;
  border-radius: 50px;
  color: #fff;
  transition: none;
  font-size: 14px;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  transition: 0.3s;
}

.pricing .btn-buy:hover {
  background: #0A0D09;
}

.pricing .featured h3 {
  color: #fff;
  background: #CF1D3D;
}

.pricing .advanced {
  width: 200px;
  position: absolute;
  top: 18px;
  right: -68px;
  transform: rotate(45deg);
  z-index: 1;
  font-size: 14px;
  padding: 1px 0 3px 0;
  background: #CF1D3D;
  color: #fff;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact {
  padding-top: 5px;
}

.contact .info {
  width: 100%;
  background: #fff;
}

.contact .info i {
  font-size: 20px;
  color: #CF1D3D;
  float: left;
  width: 44px;
  height: 44px;
  background: #ecf9f0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #37423b;
}

.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #657a6d;
}

.contact .info .email, .contact .info .phone {
  margin-top: 40px;
}

.contact .info .email:hover i, .contact .info .address:hover i, .contact .info .phone:hover i {
  background: #CF1D3D;
  color: #fff;
}

.contact .php-email-form {
  width: 100%;
  background: #fff;
}

.contact .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input, .contact .php-email-form textarea {
  border-radius: 4px;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input:focus, .contact .php-email-form textarea:focus {
  border-color: #CF1D3D;
}

.contact .php-email-form input {
  height: 44px;
}

.contact .php-email-form textarea {
  padding: 10px 12px;
}

.contact .php-email-form button[type="submit"] {
  background: #CF1D3D;
  border: 0;
  padding: 10px 25px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}

.contact .php-email-form button[type="submit"]:hover {
  background: #0A0D09;
}



/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  color: #37423b;
  font-size: 14px;
  background: #131313;
}
#footer .footer-top {
    padding: 60px 0 30px 0;
    background: #1B1B1B;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h4 {
  font-size: 22px;
  margin: 0 0 30px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}

#footer .footer-top .footer-contact p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Raleway", sans-serif;
    color: #dcd4d4;
}
.copyright {
    color: rgba(255, 255, 255, 0.55);
}
#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.85);
  position: relative;
  padding-bottom: 12px;
}
#footer .text-md-center {
    text-align: center;
    width: 100%;
}
#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #CF1D3D;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}
#footer .footer-top .footer-links ul a {
    color: #dcd4d4;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #CF1D3D;
}

#footer .footer-newsletter {
  font-size: 15px;
}
#footer .footer-newsletter h4 {
    font-size: 16px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.85);
    position: relative;
    padding-bottom: 12px;
}

#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 50px;
  text-align: left;
  border: 1px solid #e0e5e2;
}

#footer .footer-newsletter form input[type="email"] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}

#footer .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px 2px 20px;
  background: #CF1D3D;
  color: #fff;
  transition: 0.3s;
  border-radius: 50px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-newsletter form input[type="submit"]:hover {
  background: #0A0D09;
}

#footer .credits {
  padding-top: 5px;
  font-size: 13px;
}

#footer .credits a {
  color: #0A0D09;
  transition: 0.3s;
}

#footer .credits a:hover {
  color: #CF1D3D;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #CF1D3D;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: #0A0D09;
  color: #fff;
  text-decoration: none;
}
img.img-logo {
    max-width: 100px;
    margin-bottom: 30px;
}
.modal-header button.close {
    position: absolute;
    right: 12px;
    top: 5px;
    margin: 0;
    padding: 0;
    background-color: transparent !important;
    z-index: 1;
}
.modal-content {
    border: none;
    box-shadow: none;
    border-radius: 6px;
}
.modal-header {
    padding: 0 !important;
    border: none !important;
}
.login-popup h2 span {
    color: #CF1D3D;
}
.login-popup h2 {
    font-size: 30px;
    font-weight: bold;
}
.login-popup input {
    height: 50px;
    border-radius: 100px;
}
.login-popup button {
    height: 48px;
    background-color: #cf1d3d !important;
    border: none;
    border-radius: 100px;
}
.custom-control-input:checked~.custom-control-label::before {
  background-color: #CF1D3D;
      border-color: #CF1D3D;
}
input#register-submit {
    width: 100%;
    display: block;
    height: 52px;
    border-radius: 100px;
    margin-bottom: 10px;
    line-height: 50px;
    background-color: #CF1D3D;
    color: #fff;
    padding: 0;
}
.social-login
 {
    width: 100%;
    display: block;
    height: 52px;
    border-radius: 100px;
    margin-bottom: 10px;
    line-height: 52px;
}
.social-login img {
    max-width: 20px;
    margin-right: 10px;
}
a.facebook.social-login {
    background-color: #475993;
    color: #fff;
}
a.google.social-login {
    background-color: #E9EAEE;
    color: #03102B;
}

.about-content {
  padding: 40px 0px;
}
.about-content p {
    font-size: 14px;
    color: #777777;
    line-height: 32px;
}
.about-content img {
  margin-bottom: 20px;
}

/*btnstyle*/
.get-started-btn,
#hero .btn-get-started,
.about .content .learn-more-btn, 
.contact .php-email-form button[type="submit"] {
 padding-left: 42px;
 position: relative;
}
.btn-style:hover {
    background-color: #1b1b1b;
    color: #fff;
}
.get-started-btn:before, 
#hero .btn-get-started:before,
.about .content .learn-more-btn:before,
.contact .php-email-form button[type="submit"]:before,
.btn-style:before {
    box-shadow: 0 0 0 rgba(255, 255, 255, .4);
    animation: pulso 2s infinite;
    transition: .5s;
    content: "";
    width: 14px;
    height: 14px;
    border: 3px solid #fff;
    position: absolute;
    left: 15px;
    border-radius: 50%;
    top: 0px;
    bottom: 0px;
    margin: auto;
    animation: animate-pulse 2s linear infinite;
}
main#main {
    min-height: 50vh;
}
@keyframes animate-pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, .7), 0 0 0 0 rgba(255, 255, 255, .7)
    }
    40% {
        box-shadow: 0 0 0 50px rgba(255, 255, 74, 0), 0 0 0 0 rgba(255, 255, 74, 0)
    }
    80% {
        box-shadow: 0 0 0 50px rgba(255, 255, 74, 0), 0 0 0 30px rgba(255, 255, 74, 0)
    }
    100% {
        box-shadow: 0 0 0 0 rgba(255, 255, 74, 0), 0 0 0 30px rgba(255, 255, 74, 0)
    }
}
.account-button button {
    background-color: #cf1d3d !important;
    border: none;
    margin-left: 30px;
    border-radius: 3px;
    padding: 8px 15px;
}
.top-banner.profile {
    background-image: url(../img/profile-banner.jpg);
    color: #fff;
    position: relative;
}
.space.m-10 {
  display: block;
  margin-bottom: 20px;
}
.profile img {
    border: 3px solid #ffffff4d;
    border-radius: 100px;
    max-width: 150px;
}
.edit {
    position: absolute;
    right: 0;
    top: 0;
}
.edit a i {
    font-size: 23px;
    transform: rotate(50deg);
}
.edit a {
    height: 44px;
    background-color: rgba(255, 255, 255, 0.71);
    width: 44px;
    border-radius: 100%;
    display: block;
    line-height: 50px;
    transform: rotate(15deg);
}
#myTabs.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #EBEBEB;
}
#myTabs.nav li {
    margin-bottom: 0;
    text-align: center;
    display: inline-block;
    width: 20%;
   
}
#myTabs.nav li a.active span {
   color: #CF1D3D !important;
}
#myTabs.nav li a.active {
  border-bottom: 3px solid #CF1D3D;
      color: #CF1D3D !important;
}
#myTabs.nav li a {
    display: block;
    padding-bottom: 15px;
    color: #03102B;
    border-bottom: 3px solid transparent;
}
#myTabs.nav li a span {
    display: block;
    color: rgba(52, 52, 52, 0.58);
}
.Followrap img {
    max-width: 85px;
    margin-top: -50px;
    border: 7px solid #fff;
}
.Followrap h4 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 15px;
}
.Followrap h4 + span {
    font-size: 14px;
    display: block;
}
.Followrap .btn:hover {
    background-color: #1b1b1b;
    color: #fff;
}
.Followrap {
    text-align: center;
    border: 1px solid #EBEBEB;
    border-radius: 7px;
    padding: 10px 10px 20px 10px;
}
#account-tabs .tab-content {
    margin-top: 60px;
}
a.following.btn {
    background-color: #cf1d3d;
    color: #fff;
    margin-top: 10px;
    padding: 5px 30px;
}
a.Follow.btn {
    border: 1px solid #1b1b1b;
    padding: 5px 30px;
    margin-top: 10px;
}
.favorite-top .btn-restaurant {
    background-color: #cf1d3d;
    width: 100%;
    padding: 12px;
    position: relative;
    color: #ffffff;
}
.favorite-top .btn-restaurant img {
    position: absolute;
    left: 15px;
    border-right: 1px solid rgba(255, 255, 255, 0.22);
    padding-right: 10px;
}
.favorite-top .input-group select {
    height: 45px;
    border: 1px solid #d0d0d0;
}
.favorite-top  .input-group.select-group {
    margin: 15px 0px;
}
.favorite-top .input-group select:focus {
    box-shadow: none;
    border: 1px solid #969494 !important;
}
.favorite-top .btn-restaurant:hover {
    background-color: #343434;
}
span.input-group-addon i {
    color: #969494;
}
.favorite-top span.input-group-addon {
    height: 45px;
    border: 1px solid #d0d0d0;
    border-radius: 0px 4px 4px 0px;
    margin-left: 4px;
    line-height: 45px;
    width: 40px;
    text-align: center;
    cursor: pointer;
}
ul#dollarTabs a {
    display: block;
}
ul#dollarTabs {
    border: 1px solid #d8d8d8;
    height: 45px;
    line-height: 45px;
    border-radius: 5px;
    overflow: hidden;
}
ul#dollarTabs li {
    width: 25%;
    text-align: center;
}
ul#dollarTabs a.active {
    background-color: #cf1d3d;
    display: block;
    color: #fff;
}
.restaurant-content p.price span {
    background-color: #cf1d3d;
    color: #fff;
    padding: 10px;
    width: 75px;
    display: inline-block;
    text-align: center;
    margin-right: 10px;
    border-radius: 5px;
}
#account-tabs .restaurant-info .image-wrapper,
.neighbourhood-res .restaurant-info .image-wrapper  {
  position: relative;
}
.neighbourhood-res .restaurant-info {
    margin-bottom: 20px;
}
.neighbourhood-res {
    padding-top: 0px;
}
.restaurant-info .image-wrapper span.fav-icon i {
    color: #cf1d3d;
}
.restaurant-info .image-wrapper span.fav-icon {
    position: absolute;
    left: 10px;
    top: 10px;
    right: auto;
    background-color: rgba(255, 255, 255, 0.78);
    border-radius: 100%;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
}
#account-tabs .restaurant-info {
    margin-bottom: 20px;
}
.error-page img {
    width: 100%;
}
.detailed-neighbourhood .social {
    float: right;
    margin-top: -10px;
}
.detailed-neighbourhood ul {
    float: left;
}
.detailed-neighbourhood ul li:last-child:after {
    content: none;
}
.detailed-neighbourhood ul li:after {
    content: "/";
    padding: 0px 10px;
}
.detailed-neighbourhood ul li {
    display: inline-block;
    position: relative;
}
.detailed-neighbourhood ul {
    display: inline-block;
    padding-left: 0;
}
.detailed-neighbourhood img {
    width: 100%;
    margin-bottom: 25px;
    max-width: 100%;
}
.detailed-neighbourhood p {
    line-height: 30px;
    font-size: 14px;
}
.detailed-neighbourhood address h5, .detailed-neighbourhood address h5 b {
    color: #343434 !important;
    margin-top: 30px;
}
.detailed-neighbourhood address b {
    text-transform: uppercase;
    color: #cf1d3d;
}
a.call-venue:hover, a.disrection:hover {
    background-color: #1b1b1b;
}
a.call-venue, a.disrection {
    background-color: #CF1D3D;
    padding: 13px 30px;
    color: #fff;
    display: inline-block;
    border-radius: 100px;
}
a.call-venue {
    margin-right: 15px;
}
.search-container {
    width: 300px;
    display: inline-block;
    margin: 0 auto;
    float: right;
}
p.in-total {
    float: left;
    margin-top: 15px;
}
input#search-bar {
    margin: 0 auto;
    width: 100%;
    height: 45px;
    padding: 0 20px;
    font-size: 1rem;
    border: 1px solid #D0CFCE;
    outline: none;
    border-radius: 4px;
}
input#search-bar:focus {
  border: 1px solid #008ABF;
  transition: 0.35s ease;
  color: #008ABF;
}
input#search-bar:focus::-webkit-input-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}

input#search-bar:focus::-moz-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}

input#search-bar:focus:-ms-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}
.search-icon {
    position: relative;
    float: right;
    width: 20px;
    height: 20px;
    top: -30px;
    right: 15px;
}
.directory-data a.showSingle {
    padding: 5px;
    font-weight: bold;
    cursor: pointer;
}
.directory-data .col.col1 {
    margin-top: 50px;
}
.cnt {
    margin-top: 60px;
}
@media (min-width: 768px) {
#hero h2 {
    width: 630px;
}
span.review {
    margin-left: 20px;
}
.favorite-top {
    width: 600px;
    margin: 0 auto;
}
#account-tabs .restaurant-info {
    background-color: #ffffff;
    padding: 0;
    width: 100%;
    border: 1px solid #efebeb;
}
#account-tabs .restaurant-info .image-wrapper img {
  width: 100%;
  max-width: 100%;
}
ul {
    padding-left: 0;
}
#account-tabs .restaurant-info .image-wrapper {
    max-width: 300px;
    float: left;
    width: auto;
    margin-right: 25px;
}
.footer-col-rt,
.footer-col-lf {
    padding: 0px;
}
.neighbourhood-res .image-wrapper {
    max-width: 300px;
    float: left;
    width: auto;
    margin-right: 25px;
}
.neighbourhood-res .restaurant-info {
    background-color: #ffffff;
    padding: 0;
    width: 100%;
    border: 1px solid #efebeb;
}
}


@media (max-width: 992px) {
  #header .logo {
    font-size: 28px;
  }
  a.following.btn,
  a.Follow.btn {
    padding: 5px 20px;
    font-size: 13px;
}
.restaurant-content p {
    font-size: 14px;
}
.restaurant-content p.price span {
    padding: 5px;
    width: 56px;
    margin-right: 5px;
}
.restaurant-content h4 {
    font-size: 18px;
}
}


@media (max-width: 768px) {
.about .col-lg-6.order-1.order-lg-2.text-right img {
    width: 100%;
}
#header .logo img {
    max-height: 120px;
    top: -40px;
}
#header {
  padding: 10px 0px;
}
.mobile-nav-toggle {
    top: 15px;
    right: 20px;
}
}

@media (max-width: 767px) {
.section-title p {
    font-size: 28px;
}
#account-tabs .tab-content {
    margin-top: 30px;
}
#myTabs.nav li a {
    font-size: 14px;
}
#myTabs.nav li {
    width: 33%;
}
.account-button button {
    margin-left: 0;
    margin-right: 50px;
}
#account-tabs .restaurant-info {
    border: 1px solid #EBEBEB;
}
.section-title {
    padding-bottom: 20px;
}
.about .content h3 {
    font-size: 20px;
    line-height: 34px;
}
#hero .btn-get-started {
    font-size: 15px;
}
footer#footer .container {
    padding: 15px!important;
}
.edit {
    right: 15px;
}
.search-restaurants .col-md-6 {
    margin-bottom: 15px;
}
#footer .col-md-6 {
    margin-bottom: 20px;
}
footer#footer .container.d-md-flex.py-4 {
    padding: 0 !important;
}
.footer-col-lf {
    margin-bottom: 0px !important;
    padding-bottom: 15px;
}
.footer-col-rt {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}
#view-b-country .nav li {
  width: 100%;
}
.about .content ul li, .about .content p {
    font-size: 14px;
}

#hero h2 {
    font-size: 14px;
}
.restaurant-content h4 {
    font-size: 20px;
}
.restaurant-content p {
    font-size: 14px;
}
.footer-col-lf ul {
    margin: 0;
    padding-left: 0px;
}
.copyright {
    text-align: center;
}
.footer-col-lf {
    margin-bottom: 0px !important;
    padding-bottom: 15px;
    text-align: center !important;
}
#contact .mt-5 {
    margin-top: 20px !important;
}
.top-banner h2 {
    font-size: 25px;
}
.image-wrapper img {
    width: 100%;
}
}

@media (max-width: 640px) {
.account-button span {
    font-size: 0;
}
.account-button button {
    padding: 5px 15px;
}
  }