<div class="top-banner">
  <div class="container">
     <h2>Promotion</h2>
  </div>
</div>
<!-- End Hero -->
<main id="main">
  <!-- tabs section -->
  <section>
     <div class="container text-center">
        <p>This feature is only available on the app</p>
        <a href="https://apps.apple.com/us/app/grumpeat/id1470636316" class="btn-style">Open in app</a>
     </div>
  </section>
</main>
<!-- End #main -->