.active{
    /*border-bottom: 3px solid #CF1D3D !important;
   color: #CF1D3D !important;*/
}
.searchrestaurant{
  display: none;
}

.stars-outer {
    display: inline-block;
    position: relative;
    font-family: FontAwesome;
  }
  
  .stars-outer::before {
    content: "\f006 \f006 \f006 \f006 \f006";
  }
  
  .stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
  }
  
  .stars-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    color: #ffc107;
  }

  
  .margin{
    margin-top: 60px;

  }

  .mat-tab-body-content {
  
    overflow: hidden!important;
  }