<div class="top-banner profile">
   <div class="container">
      <img src="{{IMAGE_BASE_URL}}Containers/grumpeat/download/{{ avatar}}" alt="Avatar" onError="this.src='../../../assets/img/No-image-found-300x300.jpg'">
      <div class="space m-10"></div>
      <h2>{{userDetail.user.firstName ? userDetail.user.firstName : userDetail.user.firstname}} {{userDetail.user.lastName ? userDetail.user.lastName : userDetail.user.lastName}}</h2>
      <p>{{about}}</p>
      <div class="edit"><a routerLink="/edit-account"><i class="icofont-pencil-alt-1"></i></a></div>
   </div>
 </div>
 
   <!-- End Hero -->
   <main id="main">
     <!-- tabs section -->
     <!-- ======= Trainers Section ======= -->
     <section id="account-tabs" class="account-tabs nav nav-pills nav-justified">
        <div class="container">
       
          <!-- #docregion align-start -->
           
                <mat-tab-group mat-align-tabs="center" animationDuration="1000ms" [selectedIndex]="2">
                   <mat-tab label="">
                      <ng-template mat-tab-label>
                       {{ followers?.length || '0' }} <br>Followers
                       </ng-template>
                       <div role="tabpanel" class="tab-pane margin" id="Followers">
                         <div class="container">
                            <div class="row">
                               <div class="col-md-3 gap-follow" *ngFor="let servant of followers">
                                  <div class="Followrap">
                                     <a class="to-go" [routerLink]="['/view-profile/',servant.follower.id]" >
                                        <img src="{{IMAGE_BASE_URL}}Containers/grumpeat/download/{{servant.follower.avatar}}" class="testimonial-img" alt="" onError="this.src='../../../assets/img/No-image-found-300x300.jpg'">
                                     </a>
                                     <h4>{{!servant.follower.firstName ? servant.follower.firstname : servant.follower.firstName}} {{servant.follower.lastName ? servant.follower.lastName : servant.follower.lastname}}</h4>
                                     <span>{{servant.follower.followed}} Followers</span>
                                     <a class="following btn" (click)="unfollow(servant.followerId)" *ngIf="servant.follower.followed>0"><i class="icofont-tick-mark"></i> Following</a>
                                     <a class="Follow btn" *ngIf="servant.follower.followed==0" (click)="follow(servant.followerId)"> Follow</a>
                                     
                                  </div>
                               </div>
                               
                            </div>
                         </div>
                         </div>
                         <div role="tabpanel" class="tab-pane" id="Followers" *ngIf="followers.length==0 ">
                            <div class="container">
                               <div class="row">
                                  <div class="col-md-3 gap-follow" >
                                     <div class="Followrap">
                                        <a class="to-go" >
                                           <img src="../../../assets/img/No-image-found-300x300.jpg" class="testimonial-img" alt="">
                                        </a>
                                        <h4>No Followers</h4>
                                       
                                     </div>
                                  </div>
                                  
                               </div>
                            </div>   
                         </div>
 
                      
                   </mat-tab>
                   <mat-tab label="">
                      <ng-template mat-tab-label>
                         {{ following?.length || '0' }} <br>Following
                       </ng-template>
                      <div role="tabpanel" class="tab-pane margin" id="Following">
                         <div class="container">
                            <div class="row">
                               <div class="col-md-3 gap-follow" *ngFor="let supporter of following">
                                  <div class="Followrap">
                                     <a class="to-go" [routerLink]="['/view-profile/',supporter.user.id]" >
                                        <img src="{{IMAGE_BASE_URL}}Containers/grumpeat/download/{{supporter.user.avatar}}" class="testimonial-img" alt="" onError="this.src='../../../assets/img/No-image-found-300x300.jpg'">
                                     </a>
                                     <h4>{{supporter.user.firstName ? supporter.user.firstName : supporter.user.firstname}} {{supporter.user.lastName ? supporter.user.lastName : supporter.user.lastname}}</h4>
                                     <span>{{supporter.user.followed}} Followers</span>
                                     <a class="following btn" (click)="unFollowing(supporter.profilId)"><i class="icofont-tick-mark"></i> Following</a>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
 
                      <div role="tabpanel" class="tab-pane" id="Following" *ngIf="following.length==0 ">
                         <div class="container">
                            <div class="row">
                               <div class="col-md-3 gap-follow" >
                                  <div class="Followrap">
                                     <a class="to-go" >
                                        <img src="../../../assets/img/No-image-found-300x300.jpg" class="testimonial-img" alt="">
                                     </a>
                                     <h4>No Following</h4>
                                    
                                  </div>
                               </div>
                               
                            </div>
                         </div>   
                      </div>
 
 
 
                   </mat-tab>
                   <mat-tab label="">
                      <ng-template mat-tab-label>
                         {{ favorites?.length || '0' }} <br>Favourites
                       </ng-template>
 
                      <div role="tabpanel" class="tab-pane fade in active show margin" id="Favourites">
                         <div class="favorite-top">
                            <a class="btn btn-icon btn-restaurant" routerLink="/add-restaurant"><img src="assets/img/heart-plus.png"><span>Add New Restaurant</span></a>
                            <div class="input-group select-group">
                               <select class="form-control" id="restoSelect" (change)="selectOption($event.target.value)">
                                  <option value="{{country}}" *ngFor="let country of countries; let i = index">{{country}}</option>
                                 
                               </select>
                               <input type="hidden" value="" id="countryIS"> 
                               <!-- <input type="text" name="addResto" class="form-control" id="addResto" placeholder="Search restaurants" data-rule="minlen:4" data-msg="Please enter at least 4 chars" [hidden] = "!isShow" style="height: 45px;"> -->
                               <!-- <i class="fa fa-remove SeeMore2" id="addResto" [hidden] = "!isShow" style="font-size:48px;color:red"></i> -->
                               <span class="input-group-addon SeeMore2" id="tabtodelete" (click)=toggleDisplay($event)>
                               <i class="icofont-pencil-alt-5" id="button"></i>
                               </span>
                            </div>
                            <ngb-tabset [activeId]="activeTab" id="dollarTabs" (tabChange)="activeTab = $event.nextId" (click)="showActiveTabId()">
                              <ngb-tab title="$" id="dollarone" class="nav nav-pills nav-justified">
                                <ng-template ngbTabContent>
                                 
                                 
                                </ng-template>
                              </ngb-tab>
                              <ngb-tab id="dollartwo">
                                <ng-template ngbTabTitle>$$</ng-template>
                                <ng-template ngbTabContent>

                                </ng-template>
                              </ngb-tab>

                              <ngb-tab id="dollarthree">
                                 <ng-template ngbTabTitle>$$$</ng-template>
                                 <ng-template ngbTabContent>
 
                                 </ng-template>
                               </ngb-tab>

                               <ngb-tab id="dollarfour">
                                 <ng-template ngbTabTitle>$$$$</ng-template>
                                 <ng-template ngbTabContent>
 
                                 </ng-template>
                               </ngb-tab>
                            </ngb-tabset>
                           
                         </div>
                         <div role="tabpanel" class="tab-pane dollarPanel" id="1">
                            <div class="col-lg-12 col-md-12 d-flex align-items-stretch" *ngFor="let favorite of fav_restaurants; let i = index">
                               <div class="restaurant-info" >
                                  <div class="image-wrapper">
                                     <span class="fav-icon" (click)="deleteFav(favorite.restaurantId)" *ngIf="isShow==true">
                                        <i class="{{favorite.deleteFav == true ? 'favDiv fa fa-trash-o' : 'favDiv icofont-heart-alt' }}" 
                                        id="{{favorite.restaurantId}}"></i>
                                        </span>
                                        <span class="fav-icon" *ngIf="isShow==false">
                                           <i class="{{favorite.deleteFav == true ? 'favDiv fa fa-trash-o' : 'favDiv icofont-heart-alt' }}" 
                                           id="{{favorite.restaurantId}}"></i>
                                           </span>
                                     <img src="{{favorite.picToShow}}" class="img-fluid" alt=""> 
                                  </div>
                                  <div class="restaurant-content">
                                     <div class="d-flex justify-content-between align-items-center mb-3">
                                        <h4>{{favorite.restaurant.name}}</h4>
                                        <p class="price"><span class="cost">{{favorite.restaurant.price.tier==1 ? '$' : (favorite.restaurant.price.tier==2 ? '$$': favorite.restaurant.price.tier==3 ? '$$$': (favorite.restaurant.price.tier==4 ? '$$$$' : '-'))}}</span> 2 Miles Away</p>
                                     </div>
                                     <div class="icon"><span>{{ favorite.restaurant.rating || '0' }} </span>
                                        <div class="stars-outer">
                                        <div class="stars-inner" [ngStyle]="{'width': favorite.starPercentageRounded}"></div>
                                         </div>
                                        <span>({{favorite.reviewcount}})</span>
                                     </div>
                                     <p>{{favorite.restaurant.formatted_address}}</p>
                                     <div class="trainer d-flex justify-content-between align-items-center">
                                        <div class="trainer-profile d-flex align-items-center">
                                           <div class="social">
                                              <a class="fb" href="facebook.com"><i class="icofont-facebook"></i></a>
                                              <a class="in" href="linkedin.com"><i class="icofont-linkedin"></i></a>
                                           </div>
                                        </div>
                                        <div class="trainer-rank d-flex align-items-center">
                                           <a class="to-go" [routerLink]="['/favorite-restaurants/',favorite.restaurant.place_id]" ><i class="icofont-long-arrow-right"></i></a>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                            <div class="col-lg-12 col-md-12 d-flex align-items-stretch" *ngIf='fav_restaurants.length === 0'>No Results</div>
                         </div>
                      </div>
 
                   </mat-tab>
                </mat-tab-group>
             
 
          
       </div>
     </section>
     <!-- tabs section end -->
  </main>
  <!-- End #main -->