/*! =========================================================
 *
 * Light Bootstrap Dashboard PRO React - V1.0.1 (LBD V1.3.0)
 *
 * =========================================================
 *
 * Copyright 2017 Creative Tim
 * Available with purchase of license from  https://www.creative-tim.com/product/light-bootstrap-dashboard-pro-angular2
 *
 *
 * ========================================================= */


// variables and mixins
@import "lbd/variables";
@import "lbd/mixins";


//plugins css
@import "lbd/plugins/animate";
@import "lbd/plugins/sweetalert2";

@import "lbd/plugins/jquery.jvectormap";
@import "lbd/plugins/bootstrap-table";
@import "lbd/plugins/datatables.net";
@import "lbd/plugins/chartist";
@import "lbd/plugins/bootstrap-select";
@import "lbd/plugins/fixed-plugin";
@import "lbd/plugins/nouislider";
@import "lbd/plugins/tags";
@import "lbd/plugins/_react-bootstrap-switch";
@import "lbd/plugins/_code-mirror";
@import "lbd/plugins/_react-simple-maps";
@import "lbd/plugins/_react-stepzilla";
@import "lbd/plugins/_react-big-calendar";
@import "lbd/plugins/_datetime-picker";


// Core CSS
@import "lbd/typography";
@import "lbd/sidebar-and-main-panel";
@import "lbd/buttons";
@import "lbd/misc";
@import "lbd/inputs";
@import "lbd/progress-bars";
@import "lbd/sliders";
@import "lbd/forms";
@import "lbd/alerts";
@import "lbd/tables";
@import "lbd/tooltips-and-popovers";
@import "lbd/checkbox-radio-switch";
@import "lbd/navbars";
@import "lbd/footers";


// Fancy Stuff
@import "lbd/social-buttons";
@import "lbd/dropdown";

@import "lbd/cards";

@import "lbd/collapse";
@import "lbd/carousel";

// @import "lbd/plugins/datetime-picker";

// SCSS for Pages
@import "lbd/pages.scss";

// Responsive adjustments
@import "lbd/responsive";
@import "lbd/tabs-navs-pagination";

//customCheckbox comes with 12px margin top wich break design in dashboard pag in statistics 
.no-border{border: none!important;}

.ct-chart-bar .ct-label.ct-horizontal.ct-end {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transform: rotate(-30deg);
    transform-origin: 100% 0;
    text-align: right;
    max-height: 1.5em;
    min-width: 100px;
    max-width: 100px;
  }

  .ct-label {
    fill: #FFF;
}