<div class="top-banner">
  <div class="container">
     <h2>User Directory</h2>
  </div>
</div>
<!-- End Hero -->
<main id="main">
  <!-- tabs section -->
  <section>
     <div class="container">
        <p class="in-total">In Total: {{ userDirectory?.length || '0' }}</p>
        <form class="search-container" (ngSubmit)="searchUsers()" >
           <input type="text" value="" id="search-bar" placeholder="Search...">
           <a (click)="searchUsers()"><img class="search-icon" src="assets/img/search.png"></a>
        </form>
     </div>
  </section>
  <section id="directory-data" class="directory-data">
     <div class="container text-center">
        <div class="menu" >
           <a  id="showall" (click)="userdirectory()">All</a> 
           <a  class="showSingle" target="1" *ngFor="let alpha of alphabets" (click)="getUsers($event.target.innerText)">
             {{alpha}}
            </a>
          
        </div>
        <div class="cnt" >
           <div id="div2" class="targetDiv"  >
              <div class="row" >
                 <div class="col-md-3 gap-follow" *ngFor="let data of userDirectory | paginate: { itemsPerPage: 20, currentPage: p, totalItems: total }">
                    <div class="Followrap">
                     <a  [routerLink]="['/view-profile/',data.id]">
                       <img src="{{IMAGE_BASE_URL}}Containers/grumpeat/download/{{data.avatar}}" class="testimonial-img" alt="" onError="this.src='../../../assets/img/No-image-found-300x300.jpg'">
                       <h4 class="userD">{{!data.firstName ? data.firstname : data.firstName}} {{!data.lastName ? data.lastname : data.lastName}}</h4>
                        <!-- <h6>{{data.username}} </h6>  -->
                     </a>
                    </div>
                 </div>
                 
              </div>
           </div>
        </div>
        <pagination-controls class="my-pagination " (pageChange)="p = $event" *ngIf="userDirectory.length>0"></pagination-controls>
     </div>
  </section>
</main>
<!-- End #main -->